pymongo[srv]==4.2.0
from_root
numpy
pandas
scikit-learn
PyYAML
ipykernel
scipy
imblearn
dill
xgboost==1.6.2
types-s3transfer==0.6.0.post4
uvicorn==0.18.3
watchfiles==0.17.0
websockets==10.3
wincertstore==0.2
evidently==0.1.58.dev0
fastapi==0.78.0
httptools==0.5.0
neuro-mf==0.0.5
python-dotenv==0.21.0
mypy-boto3-s3==1.24.76
dnspython==2.2.1
pytest-shutil==1.7.0